.messageBoard{
    padding: 1px 0px 0px 0px;
    width: 488px;
    height: 535px;
    margin: 36px 0px 0px 72px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    border-radius: solid rgb(255, 255, 255) 1px;
    overflow-y: scroll;
}

.comming{
    background: url(/assets/img/bildings.jpg);
    width: 440px;
    height: 100vh;
}

.postInputArea{
    width: 488px;
    display: flex;
    flex-direction: column;
    margin: 32px 0px 0px 72px;
}

.post{
    min-width: 148px;
    min-height: 148px;
    margin: 16px 16px 16px 16px;
    padding: 8px 8px 8px 8px;
    border-radius: 15px;
    background-color: rgba(202, 89, 252, 1);
    background-image: linear-gradient(90deg, rgba(202, 89, 252, 1) 0%, rgba(74, 50, 231, 1) 100%);
    -webkit-box-shadow: 13px 12px 29px -7px rgb(57, 255, 146);
    -moz-box-shadow: 13px 12px 29px -7px rgba(229, 57, 255, 1);
    box-shadow: 13px 12px 29px -7px rgba(229, 57, 255, 1);  
}

.postedName{
    color: aliceblue;
    text-decoration: underline;
    text-shadow: 11px 7px 15px rgba(66, 68, 90, 1);
}

.postedMessage{
    color: lightskyblue;
    text-shadow: 11px 7px 15px rgba(66, 68, 90, 1);
}

input{
    color: lightskyblue;;
    padding: 0px 8px 0px 8px;
    margin: 0px 0px 16px 0px;
    height: 48px;
    font-size: 28px;
    text-shadow: 11px 7px 15px rgba(66, 68, 90, 1);
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

textarea{
    height: 80px;
    padding: 0px 8px 0px 8px;
    font-size: 28px;
    text-shadow: 11px 7px 15px rgba(66, 68, 90, 1);
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

.enterBtn{
    background: radial-gradient(at 98% 28%, #ed7d31 0px, transparent 50%), radial-gradient(at 9% 19%, #6c5f5b 0px, transparent 50%), radial-gradient(at 44% 63%, #4f4a45 0px, transparent 50%), radial-gradient(at 84% 2%, #f6f1ee 0px, transparent 50%), #ed7d31;;
    width: 128px;
    margin: 8px 0px 0px 0px;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 28px;
    border: solid 1px black;
}

.chatBtnArea{
    display: flex;
    justify-content: space-around;
}

.enterBtn:hover{
    cursor: pointer;
    border: solid 1px black;
    box-shadow: 19px 16px 21px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 19px 16px 21px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 19px 16px 21px 0px rgba(0,0,0,0.75) inset;
}

.erase{
    border: solid 1px black;
    width: 88px;
    margin: 8px 0px 0px 0px;
    padding: 8px 8px 8px 8px;
    background: radial-gradient(at 98% 28%, #ed7d31 0px, transparent 50%), radial-gradient(at 9% 19%, #6c5f5b 0px, transparent 50%), radial-gradient(at 44% 63%, #4f4a45 0px, transparent 50%), radial-gradient(at 84% 2%, #f6f1ee 0px, transparent 50%), #ed7d31;
    border-radius: 10px;
}

.erase:hover{
    cursor: pointer;
    border: solid 1px black;
    box-shadow: 19px 16px 21px 0px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 19px 16px 21px 0px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 19px 16px 21px 0px rgba(0,0,0,0.75) inset;
}

.sendIcon{
    width: 48px;
}