body{
    background: url(/assets/img/background.jpg);
    max-width:1024;
    margin: 0;
    font-family: "Outfit";
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
}

.enterScreen{
    background: url(/assets/img/chip.jpg);
    z-index: 100;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.dspNone{
    display: none;
}

.enterBanner{
    border: solid 1px #453b3b;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 12px 8px 12px 8px;
    width: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 24px 13px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 24px 13px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 24px 13px rgba(0,0,0,0.55);
}

button{
    font-size: 24px;
    border-radius: 15px;
    padding: 8px;
}

h2{
    margin: 16px 0px 36px 0px;
}

.content{
    display: flex;
}

.options{
    background: url(/assets/img/firefly.jpg);
    width: 488px;
    height: 600px;
    margin: 72px 0px 0px 72px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.showTemplate{
    visibility: visible;
    opacity: 1;
}